<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Job App{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="dns-prefetch" href="//fonts.gstatic.com">
        <link rel="preconnect" href="https://unpkg.com" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
        <link rel="preload"
              href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik:wght@700&family=Lato:wght@400;500;700;900&display=swap&family=Playfair+Display:wght@400;500;700;900&display=swap"
              as="style" onload="this.onload=null;this.rel='stylesheet'">

        <noscript>
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik:wght@700&family=Lato:wght@400;500;700;900&display=swap&family=Playfair+Display:wght@400;500;700;900&display=swap">
        </noscript>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    <body>

            <div id="app">
                <div class="page-content--wrapper">
                    {% include 'partials/header.html.twig' %}
                    <main class="site-main-content">
                        {% block content %}
                        {% endblock %}
                    </main>

                </div>

            </div>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
