{% extends 'layouts/base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="offer-show-page container">

        <h1 class="section-title">{{ offer.title }}</h1>
        <p class="mt-5 text-justify">   {{ offer.description }} </p>

        <span class="second-tags">
            {% for category in offer.categories %}
                <span style="margin-right: 4px;">#{{ category.title }} </span>
            {% endfor %}
        </span>
    </div>
{% endblock %}