{{ form_start(form) }}

<div class="card-body">

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

</div>
<div class="card-footer">
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
</div>


{{ form_end(form) }}