$font-family: 'Lato', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$primary-color:  #134e84 ;
$secondary-color: #539FE0;
$secondary-color-light: #0b0b4d;
$primary-color-light: #4d89be;
$primary-blue: rgba(0, 33, 82, 0.8);
$title-font: 'Playfair Display', sans-serif;
$site-gray: #57585a;
$site-yellow: #ffff00;
$base-font-size: 14px;
$mobile-breakpoint: 769px;
$link-hover-color : #1369a8 !important;
$link-hover-bg-color: rgba(197, 199, 201, 0.98) !important;
//$link-hover-color: #ec843d !important;
$body-bg:rgba(245, 245, 245, 0.8);
$header-bg-color: #fdfbfb;
$light-black: #000000;
$light-green: #26923e;
$light-border-color: rgba(17, 17, 17, 0.08);
$border-color : #d5e3ec;
$gray-text-color: #646464;
$gray-text-color-2: #999999;
$secondary-text-color: #64748B;
